<!DOCTYPE html>

<html>
    <head>
        <title>{% block title %}Player Stats Input{% endblock %}</title>
        <meta charset="UTF-8" />
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}">
            <meta name="viewport" content="width=device-width, initial-scale=1" />
            <!--[if lte IE 8]><script src="{{ asset('js/ie/html5shiv.js') }}"></script><![endif]-->
            <link rel="stylesheet" href="{{ asset('css/main.css') }}">
            <!--[if lte IE 8]><link rel="stylesheet" href="{{  asset('css/ie8.css') }}"><![endif]-->
            <link rel="stylesheet" href="{{ asset('css/custom.css') }}">
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>

    <body id="top">
        {% if "\login" not in app.request.uri and "\sign_up" not in app.request.uri %}
            <nav class="navbar navbar-default navbar-fixed-top">
                <div class="container-fluid">
                    {% if app.user != null %}
                        <a href="/logout"><button class="btn btn-primary theme-button">log out</button></a>
                    {% elseif "\input" in app.request.uri %}
                        <a href="/login"><button class="btn btn-primary theme-button">log in </button></a> or <a href="/sign_up"><button class="btn btn-primary theme-button"> sign up! </button></a>
                    {% endif %}
                </div>
            </nav>
        {% endif %}

        <div class="group">
            <header id="header">
                <div class="inner">
                    {% block sidebar %}{% endblock %}
                </div>
            </header>
        </div>

        <div id="main">
            <div class="group">         
                {% block body %}{% endblock %}
            </div>
        </div>

        <script src={{ asset('js/jquery.min.js') }}></script>
        <script src={{ asset('js/jquery.poptrox.min.js') }}></script>
        <script src={{ asset('js/skel.min.js') }}></script>
        <script src={{ asset('js/util.js') }}></script>
        <!--[if lte IE 8]><script src={{ asset('js/ie/respond.min.js') }}></script><![endif]-->
        <script src={{ asset('js/main.js') }}></script>
        {% block javascripts %}{% endblock %}    
    </body>
</html>

