{% extends 'base.html.twig' %}
{% macro player_input_form(heatmapForm) %}
    {% macro custom_form_group(makesValue, attemptsValue) %}
        <div class="form-group">
            <div class="col-md-2">
                {{ form_label(makesValue) }}
            </div>
            <div class="col-md-4">
                {{ form_widget(makesValue, { 'attr': { 'value': random(10) } }) }}
            </div>
            <div class="col-md-4">
                {{ form_widget(attemptsValue, { 'attr': { 'class': 'last-input', 'value': 10 } }) }}
            </div>
         </div>
    {% endmacro %}
    {% import _self as forms %}

    <div id="playerInputForm">
        <h5>Position - Made - Attempted</h5>

        {{ form_start(heatmapForm) }}
            {{ forms.custom_form_group(heatmapForm.makes1, heatmapForm.attempts1) }}
            {{ forms.custom_form_group(heatmapForm.makes2, heatmapForm.attempts2) }}
            {{ forms.custom_form_group(heatmapForm.makes3, heatmapForm.attempts3) }}
            {{ forms.custom_form_group(heatmapForm.makes4, heatmapForm.attempts4) }}
            {{ forms.custom_form_group(heatmapForm.makes5, heatmapForm.attempts5) }}
            {{ forms.custom_form_group(heatmapForm.makes6, heatmapForm.attempts6) }}
            {{ forms.custom_form_group(heatmapForm.makes7, heatmapForm.attempts7) }}
            {{ forms.custom_form_group(heatmapForm.makes8, heatmapForm.attempts8) }}
            {{ forms.custom_form_group(heatmapForm.makes9, heatmapForm.attempts9) }}
            {{ forms.custom_form_group(heatmapForm.makes10, heatmapForm.attempts10) }}
            {{ forms.custom_form_group(heatmapForm.makes11, heatmapForm.attempts11) }}
            {{ forms.custom_form_group(heatmapForm.makes12, heatmapForm.attempts12) }}
            {{ forms.custom_form_group(heatmapForm.makes13, heatmapForm.attempts13) }}
            {{ forms.custom_form_group(heatmapForm.makes14, heatmapForm.attempts14) }}
            <div class="form-group">
                <div>
                    {{ form_label(heatmapForm.date) }}
                </div>
                <div>
                    {{ form_widget(heatmapForm.date) }}
                </div>
            </div>

            <div class="button-holder-center button-holder">
                <button id="inputFormSubmit" class="btn btn-primary theme-button generate-button" type="submit" formnovalidate>Generate Heat Map</button>
            </div>
        {{ form_end(heatmapForm) }}
    </div>
{% endmacro %}

{% import _self as form_macros %}

{% block sidebar %}
    {{ form_macros.player_input_form(heatmapForm) }}
{% endblock %}

{% block body %}
    <section id="one">
        <div class="image-title-block">
            <div id="shotPositionsImg">
                <h1>Shot Positions</h1>
            </div>
        </div>
    </section>
{% endblock %}

