{% extends 'base.html.twig' %}

{% block sidebar %}
    <div class="button-holder">
        <a href="/input"><button class="btn btn-primary generate-button"><- Input More Data</button></a>
        <button id="downloadAccuracy" class="btn btn-primary generate-button">Download Shot Accuracy</button>
        <button id="downloadEfficiency" class="btn btn-primary generate-button">Download Point Efficiency</button>
    </div>
{% endblock %}
{% block body %}
    <div class="flash-wrapper">
        {% for msg in app.session.flashbag.get('success') %}
            <div class="alert alert-success">{{ msg }}</div>
        {% endfor %}
    </div>
    <section id="one">
        <div class="image-title-block">
            <div id="shotAccuracyHeatmap">
                <h1 class="export-image-title">Shot Accuracy: {{ 'now'|date('m/d/Y') }}</h1>
            </div>
        </div>
    </section>
    <section id="two">
        <div class="image-title-block">
            <div id="pointEfficiencyHeatmap">
                <h1 class="export-image-title">Point Efficiency: {{ 'now'|date('m/d/Y') }}</h1>
            </div>
        </div>
    </section>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/heatmap.min.js') }}"></script>
    <script src="{{ asset('js/html2canvas.js') }}"></script>
    <script>

        function downloadURI(uri, name) {
            var link = document.createElement("a");
            link.download = name;
            link.href = uri;
            document.body.appendChild(link);
            link.click();
            document.body.removeChild(link);
        }

        function printHeatmapToFile(div, fileName) {
            html2canvas(div, {
                onrendered: function (canvas) {
                    var canvasData = canvas.toDataURL("image/png");
                    downloadURI('data:' + canvasData, fileName);
                },
                width: 893,
                height: 604
            }).then(function (canvas) {
                $('#body-content').removeClass("visible-image");
            });
        }

        var accuracyConfig = {
            container: document.getElementById('shotAccuracyHeatmap'),
            radius: 33,
            opacity: .6,
            blur: 0.0001,
            gradient: {
                '0': 'blue',
                '.5': 'white',
                '1.0': 'red'
            }
        };

        var shotAccuracyHeatmap = h337.create(accuracyConfig);

        var accuracyData = [
            {% for accuracyValue in accuracyValues %}
                {
                    x: {{ accuracyValue['xCoord'] }},
                    y: {{ accuracyValue['yCoord'] }},
                    value: {{ accuracyValue['value'] }}
                },
            {% endfor %}
        ];

        var accuracyDataConfig = {
            max: 1.0,
            min: 0,
            data: accuracyData
        };

        shotAccuracyHeatmap.setData(accuracyDataConfig);

        $('#downloadAccuracy').click(function(e){
            e.preventDefault();
            $('#body-content').addClass("visible-image");
            printHeatmapToFile(document.getElementById("shotAccuracyHeatmap"), "shot_accuracy.png");
        });

        var efficiencyConfig = {
            container: document.getElementById('pointEfficiencyHeatmap'),
            radius: 33,
            opacity: .6,
            blur: .0001,
            gradient: {
                '.0': 'blue',
                '.5': 'white',
                '1.0': 'red'
            }
        };

        var pointEfficiencyHeatmap = h337.create(efficiencyConfig);

        var efficiencyData = [
            {% for efficiencyValue in efficiencyValues %}
            {
                x: {{ efficiencyValue['xCoord'] }},
                y: {{ efficiencyValue['yCoord'] }},
                value: {{ efficiencyValue['value'] }}
            },
            {% endfor %}
        ];

        var efficiencyDataConfig = {
            max: 3.0,
            min: 0,
            data: efficiencyData

        };

        pointEfficiencyHeatmap.setData(efficiencyDataConfig);

        $('#downloadEfficiency').click(function(e){
            e.preventDefault();
            $('#body-content').addClass("visible-image");
            printHeatmapToFile(document.getElementById("pointEfficiencyHeatmap"), "point_efficiency.png");
        });
    </script>

{% endblock %}