{% extends 'base.html.twig' %}

{% block sidebar %}
    <div class="button-holder">
        <a href="/input"><button class="btn btn-primary generate-button"><- Input More Data</button></a>
        <button id="downloadAccuracy" class="btn btn-primary generate-button">Download Shot Accuracy</button>
        <button id="downloadEfficiency" class="btn btn-primary generate-button">Download Point Efficiency</button>
    </div>
{% endblock %}
{% block body %}
    <div class="image-title-block">
        <h1>Shot Accuracy</h1>
        <div id="shotAccuracyHeatmap"></div>
    </div>

    <div class="image-title-block">
        <h1>Point Efficiency</h1>
        <div id="pointEfficiencyHeatmap"></div>
    </div>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/custom.css') }}">
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/jquery-3.1.1.min.js') }}"></script>
    <script src="{{ asset('js/heatmap.min.js') }}"></script>
    <script src="{{ asset('js/html2canvas.js') }}"></script>
    <script>

        function downloadURI(uri, name) {
            var link = document.createElement("a");
            link.download = name;
            link.href = uri;
            link.click();
            link.remove();
        }

        function printHeatmapToFile(div, fileName) {
            html2canvas(div, {
                onrendered: function (canvas) {
                    var myImage = canvas.toDataURL("image/png");
                    downloadURI("data:" + myImage, fileName);
                },
                width: 853,
                height: 604
            }).then(function (canvas) {
                $('#body-content').removeClass("visible-image");
            });
        }

        var accuracyConfig = {
            container: document.getElementById('shotAccuracyHeatmap'),
            radius: 50,
            maxOpacity: 1,
            minOpacity: .2,
            blur: .5,
            gradient: {
                '.0': 'yellow',
                '.5': 'orange',
                '1.0': 'red'
            }
        };

        var shotAccuracyHeatmap = h337.create(accuracyConfig);

        var accuracyData = [
            {% for accuracyValue in accuracyValues %}
                {
                    x: {{ accuracyValue['xCoord'] }},
                    y: {{ accuracyValue['yCoord'] }},
                    value: {{ accuracyValue['value'] }}
                },
            {% endfor %}
        ];

        var accuracyDataConfig = {
            max: 1.0,
            min: 0,
            data: accuracyData
        };

        shotAccuracyHeatmap.setData(accuracyDataConfig);

        $('#downloadAccuracy').click(function(e){
            e.preventDefault();
            $('#body-content').addClass("visible-image");
            printHeatmapToFile(document.getElementById("shotAccuracyHeatmap"), "shot_accuracy.png");
        });

        var efficiencyConfig = {
            container: document.getElementById('pointEfficiencyHeatmap'),
            radius: 50,
            maxOpacity: 1,
            minOpacity: .2,
            blur: .5,
            gradient: {
                '.0': 'yellow',
                '.5': 'orange',
                '1.0': 'red'
            }
        };

        var pointEfficiencyHeatmap = h337.create(efficiencyConfig);

        var efficiencyData = [
            {% for efficiencyValue in efficiencyValues %}
            {
                x: {{ efficiencyValue['xCoord'] }},
                y: {{ efficiencyValue['yCoord'] }},
                value: {{ efficiencyValue['value'] }}
            },
            {% endfor %}
        ];

        var efficiencyDataConfig = {
            max: 3.0,
            min: 0,
            data: efficiencyData

        };

        pointEfficiencyHeatmap.setData(efficiencyDataConfig);

        $('#downloadEfficiency').click(function(e){
            e.preventDefault();
            $('#body-content').addClass("visible-image");
            printHeatmapToFile(document.getElementById("pointEfficiencyHeatmap"), "point_efficiency.png");
        });
    </script>

{% endblock %}